/* styles.css */
body {
    background-color: #f3f3f3;
}

#contenedor {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#configuracion {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ccc;
}

#salida {
    flex: 1;
    padding: 20px;
}

h1 {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    margin: 0;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#resultado {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    min-height: 100px;
}